		* {
			box-sizing: border-box;
		}
		
		body{
			padding: 8px;
			font:Garamond, Garamond, sans-serif;
			background:#ddd

		}
		
		header{
			text-align: center;
			background-color: rgb(255, 117, 26);
			padding: 30px;
		}
			
		
		header h1{
		font-size: 50px;
		color: white;
		}
		
		nav ul {
			list-style-type:none;
			background: black;
			overflow:hidden;
			margin:0;
			padding:0;
			transition: background-color 2s;
		}
		
		nav	 a{
			color: white;
			text-decoration:none;
			padding: 16px;
			display:block;
			transition:background-color 1.5s;
			widht: 100%;


			}
		nav dt {
			float: left;
		}
				
		nav li {
			float: right;
		}
			
		nav a:hover{
			background-color: white;
			color:rgb(255, 117, 26); 
			}
			

		.row{
			display:table;
			
		}		
			


		footer {
		padding:20px;
		background:black;
		color: white;
		margin-top: 20px;
		display: table;
		width: 100%;
		}
		
		footer dl{
			display: table-cell;
			}

		footer dt{
			font-weight: bold;
		}
		
		footer dd{
			margin-left:0;
			}
			
		footer p{
			text-align:right;
			font-weight:bold;
			font-size:25px;
			}
	
		section {
			text-align: center;
			width: 100%;
			}

			
		.card {
			text-align: center;
			background-color: white;
			padding: 20px;
			margin-top: 20px;
			}	
		@media screen and (max-width: 768px){
			section, aside{
				widht: 100%;
				}
	